<footer class="navbar-dark bg-footer">
    <div class="copyright text-light">
        @FoodFreaks
    </div>
    <div class="copyright text-light"><a href='/about' class="whiteTxt">About</a></div>
    <div class="copyright text-light"><a href='/contact' class="whiteTxt">Contact</a></div>
    <div>
      <img src="/images/icons8-facebook-16.png" alt="Facebook Logo" class="social">
      <img src="/images/icons8-instagram-16.png" alt="Instagram Logo" class="social">
      <img src="/images/icons8-twitter-16.png" alt="Twitter Logo" class="social">
    </div>

</footer>
</body>


</html>