<%- include('./partials/header.ejs')%>

    <div class="about container">
        <h3>About Us</h3>
        <p>Here are Food Freaks we try to help people expand their knowledge on different recipes from around the world. We believe that it is awesome when
            more people want to learn different recipes. We started this company to improve everyone's experience with cooking or baking by teaching people 
            how to make tasteful foods.
        </p>
    </div>

<%- include('./partials/footer.ejs')%>