<%- include('./partials/header.ejs')%>

    <div class="about container">
        <h3>Contact Us</h3>
        <p>If you have any questions please feel free to give us a call or an email! We would love to hear from you and to answer any questions that you may 
            have.</p>
        <p><strong>Phone Number: </strong>+1 (919)-888-2222</p>
        <p><strong>Email: </strong>foodfreaks23@gmail.com</p>
        
    </div>

<%- include('./partials/footer.ejs')%>