<%- include('./partials/header.ejs')%>

    <div class="about container">
        <h3>Welcome to Food Freaks</h3>
        <p>Attend, create and learn about the best deserts about the world. Some maybe hard to make but we have the best instructors
            to guide you along the way! We will be hosting many different events around North Carolina so keep an eye out for those events!!</p>
        <p>Check out the Events Section to browse upcomming events!</p>

    </div>

<%- include('./partials/footer.ejs')%>

